.App {
}

.background {
  background-image: url("background.png");
  background-attachment: fixed;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

@font-face {
  font-family: "theseasons";
  src: url("Fontspring-DEMO-theseasons-reg.otf") format("truetype");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
